$gutter:                5px;
$use-silent-classes:    true;
$use-markup-fix:        false;

@import "vendor/csswizardry-grids.scss";
@import "responsive-helpers";
@import "at-query.scss";

.notepad {
  display: flex;
}

.note-list-wrap {
  width: 400px;

  @include at-query('max-width', $portable) {
    width: 100%;
    display: block;
    margin-right: 0px;
  }
}

.note-body-wrap {
  height: 91vh;
  flex: 1;
  margin: 0 5px;

  @include at-query('max-width', $portable) {
    width: 100%;
    display: block;
    margin: 0;
  }
}

.note-title-wrap {
//  @extend %five-sixths;
//  @extend %grid__item;
}

.delete-note-wrap {
//  @extend %one-sixth;
//  @extend %grid__item;
}

.app-header {
  @include at-query('max-width', $portable) {
    display: none;
  }
}

.app-header {
  &__left {

  }

  &__title {

  }

  &__right {

  }
}

.note-link {

}
