@import "vendor/topcoat/css/topcoat-mobile-dark.scss";
@import "vendor/topcoat/icons/icomatic.scss";

button {
  @extend .topcoat-button;
  transition: all .3s ease-in;

  &:hover, &focus {
    cursor: pointer;
    transition: all .1s ease-in;
  }
}

a {
  transition: all .3s ease-in;

  &:hover, &focus {
    cursor: pointer;
    transition: all .1s ease-in;
  }
}

textarea {
  @extend .topcoat-textarea;
}

.topcoat-navigation-bar {
  height: 4.3em;

  &__item {
    .topcoat-icon {
      font-size: 1.7rem;
    }
  }
}

.note-body {
  height: 90vh;
}

.delete-note {
  @extend .topcoat-icon-button--quiet;
  position: relative;
  right: 0px;
}

.note-list {
  overflow-y: auto;
  max-height: 90vh;
}

.note-list-item {
  @extend .topcoat-list__item;
  padding: 0px;
  display: flex;

  > a {
    flex: 1;
    padding: 1.25rem;
    display: inline-block;
    color: #C6C8C8;
    text-decoration: none;
    transition: all .1s ease-in;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;

    &:hover, &:focus {
      color: #288edf;
      transition: all .3s ease-out;
    }
  }

  &[data-is-active=true] {
    > a {
      color: #288edf;
    }
  }

  .topcoat-icon.icomatic {
    line-height: 1.8;
  }

  &__delete-note {
    transition: all .1s ease-in;
    text-align: right;
    padding-top: 2px;
  }
}

#note {
  @include at-query('max-width', $portable) {
    position: fixed;
    top: 4em;
    left: 0em;
    height: 91vh;
    z-index: 2;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    pointer-events: none;
    overflow: auto;

    &:target {
      opacity: 1;
      pointer-events: auto;
      transition: opacity .3s ease-in-out;
    }
  }
}

@include at-query('max-width', $portable) {
  #app-header {
    position: fixed;
    width: 100%;
    z-index: 1;
    }

    #notepad {
      top: 75px;
      position: relative;
    }
}

.app-header__wrap {
  display: flex;

  .topcoat-navigation-bar__item {
    &.left, &.right {
      width: 58px;
    }
    &.center {
      flex: 1;
    }
  }
}

body[data-app-mode=default] .btn-back {
  display: none;
  @include at-query('max-width', $portable) {
    display: none;
  }
}

body[data-app-mode=editing] .btn-back {
  @include at-query('min-width', $portable) {
    display: none;
  }
}

.search-widget {
  position: relative;

  .search-notes {
    padding: 0 2.5em;
  }

  .cancel-search {
    position: absolute;
    right: 0.5em;
    top: 30%;
    padding: 5px;
    color: rgb(198, 200, 200);
    cursor: pointer;
    transition: all .3s ease-in;
    display: none;

    &:hover, &:focus {
      color: rgb(40, 142, 223);
      transition: all .1s ease-in;
    }

    &[data-is-visible=true] {
      display: inline-block;
    }
  }
}

// in chrome mobile the search field seems to grab focus and makes the note display unpredictable so lets hide it in edit mode
@include at-query('max-width', $portable) {
  body[data-app-mode=editing] .search-widget {
    display: none;
  }
}
