/* ========================================================
	Spacers
=========================================================== */

$spacer-base: 5px;

/* ========================================================
	Margin
=========================================================== */

.x0 { margin-bottom: $spacer-base * 0; }
.x1 { margin-bottom: $spacer-base * 1; }
.x2 { margin-bottom: $spacer-base * 2; }
.x3 { margin-bottom: $spacer-base * 3; }
.x4 { margin-bottom: $spacer-base * 4; }
.x5 { margin-bottom: $spacer-base * 5; }
.x6 { margin-bottom: $spacer-base * 6; }

.x0-top { margin-top: $spacer-base * 0; }
.x1-top { margin-top: $spacer-base * 1; }
.x2-top { margin-top: $spacer-base * 2; }
.x3-top { margin-top: $spacer-base * 3; }
.x4-top { margin-top: $spacer-base * 4; }
.x5-top { margin-top: $spacer-base * 5; }
.x6-top { margin-top: $spacer-base * 6; }

.x0-left { margin-left: $spacer-base * 0; }
.x1-left { margin-left: $spacer-base * 1; }
.x2-left { margin-left: $spacer-base * 2; }
.x3-left { margin-left: $spacer-base * 3; }
.x4-left { margin-left: $spacer-base * 4; }
.x5-left { margin-left: $spacer-base * 5; }
.x6-left { margin-left: $spacer-base * 6; }

.x0-right { margin-right: $spacer-base * 0; }
.x1-right { margin-right: $spacer-base * 1; }
.x2-right { margin-right: $spacer-base * 2; }
.x3-right { margin-right: $spacer-base * 3; }
.x4-right { margin-right: $spacer-base * 4; }
.x5-right { margin-right: $spacer-base * 5; }
.x6-right { margin-right: $spacer-base * 6; }

.x1-list li { margin-bottom: $spacer-base * 1; }
.x2-list li { margin-bottom: $spacer-base * 2; }
.x3-list li { margin-bottom: $spacer-base * 3; }
.x4-list li { margin-bottom: $spacer-base * 4; }
.x5-list li { margin-bottom: $spacer-base * 5; }
.x1-list li:last-child,
.x2-list li:last-child,
.x3-list li:last-child,
.x4-list li:last-child,
.x5-list li:last-child { margin-bottom: 0; }

/* ========================================================
	Padding
=========================================================== */

.p0 { padding: $spacer-base * 0; }
.p1 { padding: $spacer-base * 1; }
.p2 { padding: $spacer-base * 2; }
.p3 { padding: $spacer-base * 3; }
.p4 { padding: $spacer-base * 4; }
.p5 { padding: $spacer-base * 5; }
.p6 { padding: $spacer-base * 6; }

.p0-bottom { padding-bottom: $spacer-base * 0; }
.p1-bottom { padding-bottom: $spacer-base * 1; }
.p2-bottom { padding-bottom: $spacer-base * 2; }
.p3-bottom { padding-bottom: $spacer-base * 3; }
.p4-bottom { padding-bottom: $spacer-base * 4; }
.p5-bottom { padding-bottom: $spacer-base * 5; }
.p6-bottom { padding-bottom: $spacer-base * 6; }

.p0-top { padding-top: $spacer-base * 0; }
.p1-top { padding-top: $spacer-base * 1; }
.p2-top { padding-top: $spacer-base * 2; }
.p3-top { padding-top: $spacer-base * 3; }
.p4-top { padding-top: $spacer-base * 4; }
.p5-top { padding-top: $spacer-base * 5; }
.p6-top { padding-top: $spacer-base * 6; }

.p0-left { padding-left: $spacer-base * 0; }
.p1-left { padding-left: $spacer-base * 1; }
.p2-left { padding-left: $spacer-base * 2; }
.p3-left { padding-left: $spacer-base * 3; }
.p4-left { padding-left: $spacer-base * 4; }
.p5-left { padding-left: $spacer-base * 5; }
.p6-left { padding-left: $spacer-base * 6; }

.p0-right { padding-right: $spacer-base * 0; }
.p1-right { padding-right: $spacer-base * 1; }
.p2-right { padding-right: $spacer-base * 2; }
.p3-right { padding-right: $spacer-base * 3; }
.p4-right { padding-right: $spacer-base * 4; }
.p5-right { padding-right: $spacer-base * 5; }
.p6-right { padding-right: $spacer-base * 6; }
